html, body {
    padding: 0px;
    margin: 0px;
    background-color: var(--primary-1);
    display: flex;
    justify-content: center;
  }
  
  #gameWindow {
    transform-origin: top center;
    float: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    color: var(--primary-9);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    user-select: none;

  }
  
  #tabContainer {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 5px 0px;
  }
  
  .subTabContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
  }
  
  
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
  }
  
  .containerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
  }
  
  .tabBtn {
    background-color: var(--primary-3);
    transition-duration: .1s;
    border-radius: 5px;
    height: 25px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 10px;
    border: solid 2px var(--primary-4);
  }
  
  .tabBtn:hover {
    background-color: var(--primary-4);
    cursor: pointer;
  }
  
  .subTabBtn {
    width: 135px;
    height: 22.5px;
    font-size: 16px;
  }

/*.menuBtnBg {
  width: 60%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 3px 10px;
  margin: 10px;
  background-color: var(--primary-3);
  transition-duration: .1s;
}*/
  
.menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 10px;
  background-color: var(--primary-3);
  transition-duration: .1s;
}

.menuBtnSm {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  background-color: var(--primary-3);
  transition-duration: .1s;
  cursor: pointer;
}

.menuBtnTn {
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 2.5px 5px;
  margin: 10px;
  background-color: var(--primary-3);
  transition-duration: .1s;
  cursor: pointer;
}
  
.menuBtn:hover, .menuBtnSm:hover, .menuBtnTn:hover {
  background-color: var(--primary-4);
  cursor: pointer;
}

.menuBtn.Off, .menuBtnSm.Off, .menuBtnTn.Off {
  background-color: var(--primary-2);
  cursor: default;
}

.menuBtn.Off:hover, .menuBtnSm.Off:hover, .menuBtnTn.Off:hover {
  background-color: var(--primary-2);
  cursor: default;
}

  #themeBtn {
    width: 240px;
  }
  
  #themeExample {
    display: grid;
  }
  
  .themeExampleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  
  .themeExampleContainer div {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  
  #playtesterContainer {
    width: 50vw;
  }

#addStoneBtn {
  width: 400px;
  margin: 10px 0px 5px 0px;
}
  
.stoneGenerator {
  width: 1000px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 0px 15px 0px;
}

.stoneUpgradeBtn {
  width: 475px;
  height: 125px;
}

  .infoBoxOne {
    font-size: 24px;
    font-weight: 800;
  }
  
  .infoBoxTwo {
    font-size: 20px;
    font-weight: 600;
  }
  
  .infoBoxThree {
    font-size: 16px;
    font-weight: 400;
  }

.infoBoxFour {
  font-size: 14px;
  font-weight: 400;
}

.infoBoxFive {
  font-size: 12px;
  font-weight: 400;
}
  
.baja {
  color: #63FFE0;
}

.violet {
  color: #7000D0;
}
  
  /*:root {
  --primary-0: #070d12;
  --primary-1: #152737;
  --primary-2: #23415c;
  --primary-3: #315a81;
  --primary-4: #3f74a6;
  --primary-5: #598ec0;
  --primary-6: #7ea7ce;
  --primary-7: #a3c0dc;
  --primary-8: #c8d9ea;
  --primary-9: #edf2f8;
  }
